.title{
    text-align: center;
    font-size: clamp(42px, 3vw, 72px);
    font-weight: 800;
    background: var(--blockTitlecolor);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:global(body.dark) .title {
    background: var(--blockTitlecolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
