.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  flex: 1; /* pushes footer to the bottom */
  margin-top: -80px;
}
