.btn {
  width: 120px;
  height: 50px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: var(--darkBgAccentHover);
  transition: 0.3s ease;
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.53);
}

.iconWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  transition: 0.3s ease;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.bright {
  left: 60%;
}

.dark {
  left: 10%;
}
.icon {
  display: flex;
  transition: all 0.4s ease;
  width: 30px;
  height: 30px;
}

.moon {
  align-items: center;
  width: 25px;
  height: 25px;
}
